[submodule "submodules/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "submodules/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
